<% if @errors %>
  <div class="container">
    <span>Please fix the following error(s):</span>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
  </div>
<% end %>

<div class="jumbotron">
  <form class="form-signin" method="post" action="/users">
    <h4 class="form-signin-heading">Please create your username and password:</h4><br>

    <label class="sr-only" for="username_input">Username: </label>
    <input class="form-control" id="username_input" name="user[username]" type="text" value="" placeholder="Enter new username" required autofocus><br>

    <label class="sr-only" for="password_input">Password: </label>
    <input class="form-control" id="password_input" name="user[password]" type="password" value="" placeholder="Enter new password" required><br>

    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign up">
  </form>
</div>