<div class="jumbotron">
  <h4>Your question is:</h4><br>
  <h3><%= @card.question %></h3><br>

  <form method="post" action="/card/<%=@card.id%>">
    <input class="form-control" type= "text" name="answer" placeholder="Enter Answer Here"><br>
    <input type= "submit" class="btn btn-primary" value="Submit Answer">
  </form>
</div>




