<div class="container">
  <h2>Pick a deck!</h2>
    <ol>
      <% if @decks %>
      <% @decks.each do |deck| %>
        <li><a href="<%= "decks/#{deck.id}" %>"><%= deck.name %></a></li>
      <%end%>
      <%end%>
    </ol>
</div>
