<div class="header">

<h1> Flashcards </h1>

</div>

<div class="subheader">



</div>

<p> You selected the deck: <%=@deck.name%> </p>

<p> Are you ready to begin?</p>

<p></p>


<a href="/card/<%=@card.id%>">YES!</a>


<p></p>

<form method="link" action="/">
  <input type= "submit" class="buttom" value="Go Back">
</form>


