<div class="jumbotron">
  <h3>You selected the deck: <%= @deck.name.capitalize %></h3><br>
  <h4> Are you ready to begin?</h4>
  <br>
  <a class="btn btn-sm btn-success" href="/card/<%=@cards.sample.id%>">YES!</a>
  <br><br>

  <form method="link" action="/">
    <input type= "submit" class="btn btn-sm btn-danger" value="Go Back">
  </form>
</div>

